<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Teddy Bears</h1>

    <p class="lead">Dogs, not to be confused with the stuffed animal</p>
  </div>
</div>
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight">
    <div class="my-container">
      <h2>What are Teddy Bear dogs?</h2>
      <ul>
        <li>Bichon and Shih Tzu mix</li>
        <li>Hypoallergenic, with minimal shedding</li>
        <li>Energetic pups!</li>
        <li>Small dogs - Dew is 13 lbs. and Ein is 16 lbs.</li>
      </ul>
    </div>
  </div>
  <div class="p-2 bd-highlight">
    <img src="../../assets/dogPicturesPNG/sandbox.png" alt="ein and dew in sandbox">
  </div>
  <div class="p-2 bd-highlight">
    <img src="../../assets/dogPicturesPNG/london bridge feeding.png" alt="ein eating over dew">
  </div>
  <div class="p-2 bd-highlight">
    <video width="320" height="240" controls>
      <source src="../../assets/dew tail wag and flop.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
</div>