<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Me</h1>

    <p class="lead">Hi, my name is Rachel! I have two Teddy Bears, Ein and Dew. I started to make this site to work on
      my coding skills and web development abilities.</p>
  </div>
</div>

<div class="my-container">
  <h2>Background</h2>

  <p>I have a Bachelor's Degree in Sociology with minors in Mathematics and Psychology. My Master's Degree is in
    Professional Counseling: Student Affairs and College Counseling. I currently work as a Phlebotomist and a trainer.
  </p>

  <h2>Q&A</h2>

  <p><strong>Q:</strong> Why am I working on coding and web development?<br>
    <strong>A:</strong> I <u>LOVE</u> to learn new things, want a new challenge, and am looking at a career change.</p>

  <p><strong>Q:</strong> What am I looking for?<br>
    <strong>A:</strong> A company who is willing to help me learn and grow. I am looking for a long-term position where
    I can move up in the company over time.</p>

  <p><strong>Q:</strong> Why a web app about dogs?<br>
    <strong>A:</strong> I love my dogs, have a LOT of pictures of them, and have a lot of knowledge about them. It was just a topic for me to start with to learn how to make and design a web app using a variety of tools (including <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, HTML, CSS, Angular, CLI, and <a href="https://github.com/rachelgroff176" target="_blank">GitHub</a>). I am also interested in
    fitness and may create another web app about that in the future!</p>
</div>