<div>
  <h1>
    {{ title }}
  </h1>
</div>

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ein and Dew</h1>

    <p class="lead">These two silly pups enrich my life with fun and excitement. Here are some pictures and anecdotes
      about our lives! Find out more about me, Ein, Dew, and Teddy Bears in general in the "About" menu above!</p>
  </div>
</div>


<div class="card-columns">
  <div class="card text-center float-right" style="width: 18rem;">
    <img src="../assets/dogPicturesPNG/baby ein attacks bed.png" class="card-img-top" alt="ein attacks his bed">
    <div class="card-body">
      <h5 class="card-title, font-weight-bold">Ein attacks his bed</h5>
      <p class="card-text, font-weight-normal">Instead of laying in the bed (like normal dogs), he decided it was a toy.
      </p>
    </div>
  </div>
  <div class="card text-center float-right" style="width: 18rem;">
    <img src="../assets/dogPicturesPNG/baby dew and ein in side yard.png" class="ein with baby dew in side yard">
    <div class="card-body">
      <h5 class="card-title, font-weight-bold">Ein and baby Dew</h5>
      <p class="card-text, font-weight-normal">It took a while, but they grew to love each other!</p>
    </div>
  </div>
  <div class="card text-center float-right" style="width: 18rem;">
    <img src="../assets/dogPicturesPNG/baby ein car cupholder.png" class="card-img-top"
      alt="baby ein sits in car cupholder">
    <div class="card-body">
      <h5 class="card-title, font-weight-bold">Ein in car cupholder</h5>
      <p class="card-text, font-weight-normal">He tried to sit here every time we got in the car! His favorite spot
        would have been my lap, but we only let him get as far as the cupholder.</p>
    </div>
  </div>

  <div class="card text-center float-right" style="width: 18rem;">
    <img src="../assets/dogPicturesPNG/new haircut and car surfing.png" class="ein and dew car surfing">
    <div class="card-body">
      <h5 class="card-title, font-weight-bold">Car surfing with new haircuts</h5>
    </div>
  </div>

  <div class="card text-center float-right" style="width: 18rem;">
    <img src="../assets/dogPicturesPNG/baby ein tv console.png" class="baby ein hiding in tv console">
    <div class="card-body">
      <h5 class="card-title, font-weight-bold">Ein in TV Console</h5>
      <p class="card-text, font-weight-normal">Ein loved small spaces when he was a baby!</p>
    </div>
  </div>
  <div class="card text-center float-right" style="width: 18rem;">
    <img src="../assets/dogPicturesPNG/Me dogs and window.png" class="me with the dogs looking out the window">
    <div class="card-body">
      <h5 class="card-title, font-weight-bold">Window seat</h5>
      <p class="card-text, font-weight-normal">Our house is set up to spoil the pups for sure.... They get a window seat
        on the couch to look outside and bathe in the sun.</p>
    </div>
  </div>
</div>

